best_vgg19_asl.h5 filter=lfs diff=lfs merge=lfs -text
best_vgg19_asl.keras filter=lfs diff=lfs merge=lfs -text
ASL/app.py filter=lfs diff=lfs merge=lfs -text
vgg19-asl-detection.ipnyb filter=lfs diff=lfs merge=lfs -text
